body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0;
}

.card-container {
    display: flex
}

h1 {
    text-align: center;
}
.card {

}

.card-title {

}

.card-img {

}

.card-desc {

}
